@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");
:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #667eea;
  --color-secondary:#54be0c9a;
  --boton-padding: 20px 40px;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav_items {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
}

.nav_items--cta {
  border: 1px solid #fff;
}

.nav_items--footer {
  padding: 10px;
}

/* Seccion Footer */
.footer {
  background: var(--color-primary);
}

.footer_grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer_title {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer_icons {
  display: flex;
  justify-content: space-evenly;
}

.footer_container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50px;
}

.footer_icon {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}

.fab.footer_icon {
  line-height: 60px;
}

/* Seccion Projects */
.projects {
  background: #f2f2f2;
}

.projects_grid {
  display: grid;
  height: 550px;
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  gap: 10px;
}

.projects_item {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.projects_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.projects_item:nth-of-type(1) {
  grid-area: img1;
}
.projects_item:nth-of-type(2) {
  grid-area: img2;
}
.projects_item:nth-of-type(3) {
  grid-area: img3;
}
.projects_item:nth-of-type(4) {
  grid-area: img4;
}
.projects_item:nth-of-type(5) {
  grid-area: img5;
}

.projects_hover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(84, 190, 12, 0.6039215686);
  top: 0;
  left: 0;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projects_item:hover .projects_hover {
  transform: translateX(0%);
}

.projects_icon {
  margin-top: 10px;
  font-size: 30px;
}

/* Seccion About*/
.presentation {
  text-align: center;
  padding-top: 0;
}

.presentation_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.presentation_copy {
  width: 80%;
  margin: 0 auto;
}

.presentation_cta {
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.about_img {
  text-align: center;
}

.about_img--left {
  text-align: left;
}

.about_picture {
  max-width: 80%;
}

.about_paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

/* hero */
.hero {
  height: 100vh;
  background-image: var(--background), url("../images/SL-022321-41020-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
.hero .container {
  padding: 0;
}

.hero_container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
}

.hero_texts {
  width: 80%;
  margin-bottom: 50px;
}

.hero_title {
  font-size: 3.2rem;
}

.hero_subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;
}

.hero_cta {
  display: inline-block;
  background: #fff;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.hero_wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* Seccion Testimony */
.testimony_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimony_item {
  width: 95%;
  margin: auto;
  background: var(--color-secondary);
  box-shadow: 0 8px 10px rgba(66, 66, 66, 0.5);
  border-radius: 7px;
  padding: 30px 25px;
  color: #fff;
  margin-bottom: 50px;
}

.testimony_img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 30px;
}

.testimony_person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.testimony_name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimony_verification {
  color: #000000;
  font-weight: 700;
}

.testimony_review {
  font-weight: 300;
}

/* Pages Contactanos*/
.contacts {
  text-align: center;
  padding-top: 0;
}

.contact_picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.form_contacts {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.FormC_title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.formC_container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.formC_group {
  position: relative;
  --color: #5757577e;
}

.formC_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.formC_input:not(:-moz-placeholder-shown) {
  color: #4d4646;
}
.formC_input:not(:placeholder-shown) {
  color: #4d4646;
}
.formC_input:not(:-moz-placeholder-shown) + .formC_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #667eea;
}
.formC_input:focus + .formC_label, .formC_input:not(:placeholder-shown) + .formC_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #667eea;
}

.formC_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.formC_submit {
  background: #667eea;
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.formC_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #667eea;
  transform: scale(0);
  transform-origin: left bottom;
  transition: transform 0.4s;
}

.formC_input:not(:-moz-placeholder-shown) ~ .formC_line {
  transform: scale(1);
}

.formC_input:focus ~ .formC_line, .formC_input:not(:placeholder-shown) ~ .formC_line {
  transform: scale(1);
}

/* pages Sobre Nosotros */
.container_img_nos1 {
  text-align: center;
}

.img_nos1 {
  width: 60%;
  height: 500px;
}

.container_text_nos1 {
  text-align: center;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: rgba(84, 190, 12, 0.6039215686);
  color: #000000;
  text-transform: uppercase;
}
.btn-1:hover {
  background-color: rgba(84, 190, 12, 0.6039215686);
}

.we-2 {
  display: flex;
}

.generalnos-1 {
  width: 50%;
  padding: 50px 0 0 0;
  background-color: #fff;
}

.generalnos-2 {
  background-image: url(../images/img-nos1text.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.generalnos-3 {
  background-image: url(../images/img-nos2text.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}

.nos2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin: auto;
}

.nos2-text1 {
  font-size: 15px;
  color: #2e2f33;
  margin: auto;
  padding: 3rem;
}

/* Pages Iniciar Sesion */
.section_formlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: url(/images/fondo-formlogin.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.containerform {
  position: relative;
  width: 400px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerform h2 {
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
}

.input_container {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}
.input_container label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.6s;
  font-weight: bold;
}

.input_formlogin:focus ~ label, .input_formlogin:valid ~ label {
  top: -5px;
}

.input_container input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: -35px 0 5px;
  color: #fff;
}
.input_container i {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  top: 19px;
  right: 8px;
}

.olvidar {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: center;
}
.olvidar label input {
  margin: 3px;
}
.olvidar label a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 0.9em;
}
.olvidar label a:hover {
  text-decoration: underline;
}

.button_formlogin {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
}
.button_formlogin:hover {
  opacity: 0.9;
}

.registrar {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}
.registrar p a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}
.registrar p a:hover {
  text-decoration: underline;
}

/* Diseño Responsive */
@media screen and (max-width: 800px) {
  :root {
    --boton-padding: 18px 40px;
  }
  .nav {
    justify-content: space-around;
  }
  .nav_items {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
  }
  .nav_items--cta,
  .nav_items--footer {
    border: none;
  }
  .hero_texts {
    width: 100%;
    margin-bottom: 80px;
  }
  .hero_title {
    font-size: 2.5rem;
  }
  .hero_subtitle {
    font-size: 1.5rem;
  }
  /* About */
  .presentation_copy {
    width: 100%;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about.container {
    padding-top: 30px;
  }
  .about_img--left {
    text-align: center;
  }
  .about_texts:last-child {
    grid-row: 3/4;
  }
  /* Nuestros Proyectos*/
  .projects_grid {
    grid-template-areas: "img1 img1 img2 img2" "img1 img1 img3 img3" "img4 img4 img5 img5";
  }
  /* Testimony */
  .testimony_grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  /* Footer */
  .footer_grid {
    grid-template-columns: 1fr;
  }
  .footer_contact {
    grid-row: 1/2;
  }
}
@media screen and (max-width: 800px) and (max-width: 500px) {
  :root {
    --boton-padding: 18px 35px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .nav_items {
    padding: 0 10px;
    border: 0;
  }
  .hero_texts {
    text-align: center;
    margin-bottom: 100px;
  }
  .hero_title {
    font-size: 2rem;
  }
  /* About */
  .presentation_picture {
    width: 120px;
    height: 120px;
  }
  .about {
    row-gap: 60px;
  }
  .about.container {
    padding-top: 10px;
  }
  /* Nuestros Proyectos */
  .projects_grid {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
    height: auto;
    grid-template-rows: repeat(5, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
  }
  .testimony_item {
    padding: 30px 15px;
  }
  .testimony_person {
    flex-direction: column;
  }
  .testimony_texts {
    text-align: center;
  }
  .testimony_img {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=estilo.css.map */