/* Seccion About*/

.presentation {
    text-align: center;
    padding-top: 0;
}

.presentation_picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation_copy {
    width: 80%;
    margin: 0 auto;
}

.presentation_cta {
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: $color-blanco;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about_img {
    text-align: center;
}

.about_img--left {
    text-align: left;
}

.about_picture {
    max-width: 80%;
}

.about_paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}